/*--------------------- Variáveis ---------------------*/

//main_color1 = #d80000

/*--------------------- Estilos ---------------------*/

.ctr{
	margin 0 auto
}

/*--------------------- Estruturas ---------------------*/

.header{
	width 100%
	height 100px
	position fixed
}

.container{
	width: 1200px;
	@extends .ctr
}

.logo{
	margin-top: 20px;
}

.banner-home{
	width 100%
	height 585px
	//min-height 700px
	background #ccc
	margin-bottom 50px
}

.nav-home{
	width 1200px
	height auto
	min-height 142px
	display flex
	justify-content: space-around
	
	ul li{
		float left
		width 279px
		height 142px
		background #000
		margin 0 10px
	}
}