@font-face {
    font-family: 'Planer';
    src:url('Planer.ttf.woff') format('woff'),
        url('Planer.ttf.svg#Planer') format('svg'),
        url('Planer.ttf.eot'),
        url('Planer.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

/*--------------------- Mixins ---------------------*/
fortransition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

/*--------------------- Variáveis ---------------------*/


/* Cores */
nexus_red = #d80000
dark-grey = #a5a5a5
med-grey = #cecece
light-grey = #F3F3F3

/* Espaçamentos */

space = 10px

/* Ex: margin-left space*5 */

/*--------------------- Estilos ---------------------*/

.ctr
	margin 0 auto
	
/* Corrige a altura de elementos pai com elementos filhos que possuem float */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    zoom: 1;
}

/*--------------------- Globais - afetam (quase) todas as páginas ---------------------*/

*,:after,:before
	-webkit-box-sizing:border-box
	-moz-box-sizing:border-box
	box-sizing:border-box

::-webkit-scrollbar 
	background: med-grey;


body
	background light-grey


.header
	width 100%
	height 100px
	position fixed
	z-index: 2

	&.header-interno
		position static
		margin-bottom space*3


.container
	width: 1060px
	height auto
	@extends .ctr

.logo
	margin-top 23px
	float left
	
.nav-main
	height auto
	float right
	margin-top 38px
		
	/* item do menu dp topo */
	.nav-main-item
		margin 0px
		float left
		background #000
		margin 0px 20px
		padding 2px 8px
		position relative
		font-size 20px
		font-family Planer, sans-serif

		
		a
			color #fff
			padding 6px 0px
		
		/* efeito "pontiagudo" do menu */
		&:before
			content ""
			width 0
			height 0
			position absolute
			left -20px
			bottom 0px
			border-bottom 27px solid #000
			border-left 20px solid transparent
		
		/* efeito "pontiagudo" do menu */
		&:after
			content ""
			width 0
			height 0
			position absolute
			right -20px
			top 0px
			border-top 27px solid #000
			border-right 20px solid transparent
		
		

		
/*--------------------- Estruturas ---------------------*/

		/*--------------------- REUTILIZAVEIS -----------------------*/
			

// Box de texto com os cantos com detalhes em vermelho
.box-texto-corner
	width 100%
	padding 60px 60px
	margin 40px 0px
	min-height 220px
	color #000
	position relative
	
	&:before{
		content " "
		background url(../../src/img/corner.svg) no-repeat
		position absolute
		left 0px
		bottom -20px
		width 195px
		height 195px
	}
	
	&:after{
		content " "
		background url(../../src/img/corner.svg) no-repeat
		position absolute
		top -20px
		right 0px
		transform rotate(180deg)
		width 195px
		height 195px
	}

.page-title
		width 100%
		padding: 10px
		margin 20px 0px
		background nexus_red
		color #fff
		font-family Planer, sans-serif
		position relative
		
		&:after{
		content ""
		width 95%
		height 10px
		position absolute
		bottom -10px
		left 0
		background #000
		}
		
		/*--------------------- Home -----------------------*/
			
.banner-home
	width 100%
	height auto
	background med-grey
	margin-bottom 50px


.nav-home
	width 1060px
	height auto
	min-height 142px
	display flex
	justify-content: space-around
	
	a.nav-home-item
		float left
		width 245px
		height 155px
		background dark-grey
		margin 0 10px
		position relative
		
		&:before
			content ""
			width 0
			height 0
			position absolute
			left 0px
			bottom 0px
			border-bottom 35px solid light-grey
			border-right 35px solid transparent
		
		/* efeito "pontiagudo" do menu */
		&:after
			content ""
			width 0
			height 0
			position absolute
			right 0px
			top 0px
			border-top 35px solid light-grey
			border-left  35px solid transparent

		h2
			padding 8px
			background nexus_red
			position absolute
			bottom 0
			right 0
			margin 0px
			color #fff
			font-size 22px
			font-family 'Planer'
	
		/*--------------------- Artistas - listagem -----------------------*/

.artistas-list
	margin space*4 0
		
.artistas-list-item
	width 250px
	height 367px
	position relative
	float left
	margin 40px 140px
	
	& img
		width 250px
		height 312px
		margin-bottom space*1.2
		overflow hidden
		
	& h3
		width 100%
		padding 5px 0px
		margin 0px
		color #fff
		text-align center
		background nexus_red
		font-family Planer, sans-serif
		font-size 24px
		font-weight normal
		position relative
		
		/* efeito "pontiagudo" do menu */
		&:before
			content ""
			width 0
			height 0
			position absolute
			left 0px
			bottom 0px
			border-bottom 16px solid light-grey
			border-right 16px solid transparent
		
		/* efeito "pontiagudo" do menu */
		&:after
			content ""
			width 0
			height 0
			position absolute
			right 0px
			top 0px
			border-top 16px solid light-grey
			border-left 16px solid transparent
	
	&:nth-child(odd) .info-list-item
	&:nth-child(even) .info-list-item
		position absolute
		top 150px
		opacity 0
		font-family Planer, sans-serif
		color #fff
		font-size 21px
		min-width 180px
		fortransition all 0.2s linear 0s
	
	&:nth-child(odd) .info-list-item
		left 230px
		
	&:nth-child(even) .info-list-item
		right 230px
		text-align right

		
	&:nth-child(odd):hover .info-list-item
		position absolute
		top 150px
		opacity 1
		transform translateX(30px)
	

	&:nth-child(even):hover .info-list-item
		position absolute
		top 150px
		opacity 1
		transform translateX(-30px)

	.info-list-item p
		background nexus_red
		padding 4px


	/*--------------------- Artistas - individual -----------------------*/

.nome-artista-individual
	text-align right
	color #fff
	background nexus_red
	width 740px
	padding 3px 10px
	font-family 'Planer'
	margin-top 0px
		
.info-artista-individual
	text-align right
	color nexus_red
	margin 5px 0px
	font-family 'Planer'
	
	span
		color #000

.img-artista-individual
	margin-left space*2
	float left
	width 300px
	border-bottom 10px nexus_red solid

.wrapper-fl-left
	float left
	width auto
	max-width 740px
	height auto

.obras-artista-highlights
	width 100%
	margin space*5
	
.obras-artista-highlights-item
	width 400px
	height 250px
	float left
	position relative
	background med-grey
	overflow hidden
	
	&:first-child
		width 600px
		height 500px
	
	& img
		width 100%
	
	& p
		position absolute
		bottom -500px
		padding 15px
		background rgba(0,0,0,0.8)
		color #fff
		margin 0px
		fortransition all 0.9s ease 0s


	& h3
	&:first-child  h3
		width auto
		background nexus_red
		position absolute
		bottom 0
		right 0
		margin 0px
		color #fff
		text-align right
		fortransition all 0.5s ease 0s
		font-family 'Planer'
		
	
	& h3
		font-size 18px
		padding 6px
		

	&:first-child  h3
		font-size 28px
		padding 10px
		
	&:first-child:hover h3
		transform translateY(-450px)

	&:hover h3
		transform translateY(-217px)
	
	&:hover p
		transform translateY(-500px)
		

		/*--------------------- Experimentos - individual -----------------------*/

/* div que possui as principais informações do experimento da página*/
.main-experimento
	width 772px
	float left
	padding-bottom 80px

/* banner com a imagem principal do experimento */
.banner-experimento
	width: 100%
	height 434px
	background med-grey
	margin-bottom 30px
	position relative
	overflow hidden
	
	img
		width 100%
		
	.container-titulo-experimento
		min-width: 606px
		padding: 10px
		position absolute
		bottom 0
		left 0
		margin 20px 0px 0px 0px
		background nexus_red
		color #fff
		font-family Planer, sans-serif
		
		&:after{
			content ""
			width 90%
			height 10px
			position absolute
			top -10px
			left 0
			background #000
		}
		
		h2
			font-size 40px
			color #fff
			position relative
			padding 0
			margin 0px
			
			// &:before
			// &:after{
			// 	content attr(data-text)
			// 	position absolute
			// 	top 0
			// 	left 0
			// 	width 100%
			// 	height 100%
			// 	color #fff
			// }
		
			// &:before
			// 	left 3px
			// 	text-shadow -3px 0 black
			// 	background nexus_red //importante ser o mesmo da div
			
			
			// &:after
			// 	left -3px
			// 	text-shadow -2px 0 blue
			// 	clip: rect(44px, 450px, 56px, 0);
			// 	background nexus_red //importante ser o mesmo da div


/* div que possui as principais informações do experimento */
.aside-experimento
	width 215px
	float right
	
/* aside que possui a foto do autor e nome */
.info-autor
	width 100%
	
	/* imagem do autor */
	img
		width 100%
		height auto
	
	/* nome do autor */	
	h3
		width 100%
		text-align center
		padding 5px 0px
		background nexus_red
		color #fff
		position relative
		font-family Planer, sans-serif
		
		&:before
			content ""
			width 0
			height 0
			position absolute
			left 0px
			bottom 0px
			border-bottom 14px solid light-grey
			border-right 14px solid transparent
		
		/* efeito "pontiagudo" do menu */
		&:after
			content ""
			width 0
			height 0
			position absolute
			right 0px
			top 0px
			border-top 14px solid light-grey
			border-left 14px solid transparent
	

		
.galeria-experimento
	width 100%
	margin-top 74px
	
	h3
		font-family Planer, sans-serif
		width 100%
		text-align center
		color #000
		font-size 30px
	    margin 10px 0px
	    padding 0px
		
	.wrap-img
		width 107.5px
		height 107.50px
		float left
		overflow hidden
		position relative
		fortransition all 0.5s ease 0s

		&:hover img
			width 350px
			top -65%
			left -65%
			fortransition all 0.5s ease 0s

				
		img
			width 250px
			height auto
			position absolute
			top -40%
			left -40%
			fortransition all 0.5s ease 0s
	